@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body{
  margin: 0;
  padding: 0;
}

body{
  font-family: sans-serif;
}

.nav{
  width: 100%;
  top: 0;
  height: 35px;
  background-color: #fdfdfd;
  border: 1px solid #e6e6e6;
}

.container{
  padding-top: 10px;
  background: #ecf6ff;
  width: 100%;
  height: 100vh;
}

.wrapper{
  width: 60%;
  height: 100%;
  margin: 0 auto;
}

.sidebar{
  width: 32%;
  display: inline-block;
  vertical-align:top;
  background-color: #fdfdfd;
  border-radius: 5px;
  margin-right: 2%;
}

.tweets{
  width: 62%;
  background-color: white;
  display: inline-block;
  padding-bottom: 30px;
  border-radius: 5px;
  margin-left: 3%;
}

.tweets-title, .tweet{
  border-bottom: 1px solid #aaa;
}

.ns-logo{
  width: 50px;
  height: 50px;
  margin: 30px auto 0;
  display: block;
}

.nav .nav-logo, .nav .nav-navbar{
  display: inline-block;
  padding-top: 8px;
}

.nav-navbar{
  float:right
}

.nav .wrapper{
  width: 60%;
}

.nav-list, .tweet p{
  margin: 0;
}

.nav-list li{
  display: inline;
  margin-right: 20px;
}

.profile, .stats{
  border-bottom: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

.profile-data, .tweet{
  padding:10px;
}

.profile-image{
  display:inline-block;
  vertical-align:top;
  margin-right:10px;
  width:50px;
  height:50px;
  border: 1px solid black;
}

.profile-name{
  margin: 0 0 5px 0;
}

.profile-email{
  margin: 0;
}

.stats-data div{
  display:inline-block;
  margin:0 3px;
}

.stats-data p{
  color:#3b6d8d;
  margin: 0;
  font-size: 24px;
}

.stats-data h5{
  margin-bottom: 0;
  color: #bbb;
}

.stats-data{
  padding-bottom: 20px;
}

.tweet-box textarea{
  width:100%;
  height: 80px;
  box-sizing: border-box;
}

.tweet-box-data{
  padding: 10px 5px;
  background: #d1f1ff;
}

.tweets-title h2{
  padding-left:40px;
}

.tweet-photo{
  display:inline-block;
  vertical-align:top;
  margin-right:10px;
  width:50px;
  height:50px;
  border: 1px solid black;
}

.tweet div, .profile-data div{
  display:inline-block;
}

.tweet-button{
  background: #4f7f9d;
  color: #fff;
  display: block;
  border: 0;
  font-size: 14px;
  padding: 6px 10px;
  border-radius: 3px;
}

a{
  text-decoration: none;
  color: #6ba8cf;
}

textarea {
  font-family: sans-serif;
  font-size: 14px;
}

h1{
  font-size: 14px;
}
